.topnav {
    overflow: hidden;
    background-color: #6B705C;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #A5A58D;
    color: black;
  }
  
  .topnav a.active {
    background-color: #B7B7A4;
    color: black;
  }

  header {
    font-family: 'Syne Mono', monospace;
    text-align: center;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;	
  }

/* To do: add main and footer CSS */

  div.card {
    border: 3px solid #ffe8d6;
    border-width: 6px;
    margin: 20px;
    display: flex;
  }