.topnav {
    overflow: hidden;
    background-color: #335C67;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #E09F3E;
    color: black;
  }
  
  .topnav a.active {
    background-color: #FFF3B0;
    color: black;
  }