<!doctype html>
<html>
  <head>
    <!-- React dependencies -->
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
	  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    
    <!-- Bootstrap CSS from getbootstrap.com -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>
      {% block title %}{% endblock %}
    </title>
    <!-- Mapbox script tags-->
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
    {% block head %}{% endblock %}
    <!-- CSS -->
    <link href="/static/css/site.css" rel="stylesheet">
    <!-- Page-specific Javascript -->
	  {% block js %}
  	{% endblock %}
  </head>
  <body>
    <!-- Navigation Bar via Bootstrap -->
    <!-- To do: add Logout button and About Me site -->
    <header>
      <nav class="navbar navbar-light bg-light navbar-expand-lg fixed-top" style="font-family: monospace;">
        <a href="/" class="navbar-brand">stars & dust</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                </li>
                <li class="navbar-item">
                    <a href="parks" class="nav-link">Parks</a>
                </li>
                <li class="navbar-item">
                    <a href="stargazing" class="nav-link">Stars</a>
                </li>
                {% if logged_in %}
                <li class="navbar-item">
                    <a href="/logout" class="nav-link">Logout</a>
                </li>
                {% else %}
                <li class="navbar-item">
                    <a href="/login" class="nav-link">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
      </nav>
    </header>
    
    <!-- Jinja flash messaging (temporary) -->
    {% for msg in get_flashed_messages() %}
      <p class="flash-msg">
        {{ msg }}
      </p>
    {% endfor %}

    <!-- jQuery script tag from code.jquery.com -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>

    <!-- Script tags from getbootstrap.com -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

    {% block body %}{% endblock %}

    {% block after_body %}{% endblock %}
  </body>
</html>
