{% extends 'base.html' %}
{% block title %}Stars & Dust{% endblock %}

{% block body %}

<style>
  body {
    background: url(../static/img/jtree2.jpg) center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  /* Reference: "-ebkit...", "-moz...", and "-o" pulled from: */
  /* https://css-tricks.com/perfect-full-page-background-image/ */
</style>

<main>
  <h2> Login or Create an Account</h2>
  <form action="/login" method="POST"> 
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <button type="submit">Submit</button>
    </p>
  </form>
</main>

{% endblock %}