{% extends 'base.html' %}
{% block title %}Stars & Dust{% endblock %}

{% block body %}

<style>
  body {
    background: url(../static/img/arizona1.jpg) center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>

<div class="center-dark">
  <h2>Explore Parks by County</h2>
  <p>
    <form action="/parks" method="POST">
      <input list="counties" name="county" id="county" placeholder="E.g. Los Angeles">
      <datalist id="counties">
        <option value="Alameda">
        <option value="Alpine">
        <option value="Amador">
        <option value="Butte">
        <option value="Calaveras">
        <option value="Colusa">
        <option value="Contra Costa">
        <option value="Del Norte">
        <option value="El Dorado">
        <option value="Fresno">
        <option value="Glenn">
        <option value="Humboldt">
        <option value="Imperial">
        <option value="Inyo">
        <option value="Kern">
        <option value="Lake">
        <option value="Los Angeles">
        <option value="Madera">
        <option value="Marin">
        <option value="Mariposa">
        <option value="Mendocino">
        <option value="Merced">
        <option value="Mono">
        <option value="Monterey">
        <option value="Napa">
        <option value="Navada">
        <option value="Orange">
        <option value="Placer">
        <option value="Plumas">
        <option value="Riverside">
        <option value="Sacramento">
        <option value="San Benito">
        <option value="San Bernardino">
        <option value="San Diego">
        <option value="San Francisco">
        <option value="San Joaquin">
        <option value="San Luis Obispo">
        <option value="San Mateo">
        <option value="Santa Barbara">
        <option value="Santa Clara">
        <option value="Santa Cruz">
        <option value="Shasta">
        <option value="Solano">
        <option value="Sonoma">
        <option value="Stanislaus">
        <option value="Sutter">
        <option value="Tehama">
        <option value="Trinity">
        <option value="Tulare">
        <option value="Tuolumne">
        <option value="Ventura">
        <option value="Yolo">
      </datalist>
      <button type="submit">Explore</button>
    </form>
  </p>
</div> 

{% endblock %}