{% extends 'base.html' %}
{% block title %}Stars & Dust{% endblock %}

{% block body %}

  <h2>Explore Parks</h2>
    <p>
        Park Name <input type="text" name="park-name">
    </p>
    
    <p>
        County
        <select name="county">
          <option value="IM">Imperial</option>
          <option value="LA">Los Angeles</option>
          <option value="OR">Orange County</option>
          <option value="RV">Riverside</option>
          <option value="SB">San Bernardino</option>
          <option value="SD">San Diego</option>
          <option value="VE">Ventura</option>
        </select>
    </p>

    <p>
        Park Type 
        <input type="radio" name="contract-type" value="national">
        <label>National Park</label>
        
        <input type="radio" name="contract-type" value="state">
        <label>State Park</label>
    </p>

    <p>
        <button type="submit">Explore</button>
    </p>
  </form>
{% endblock %}