{% extends 'base.html' %}
{% block title %}Stars & Dust{% endblock %}

{% block js %}
	<script src="/static/js/parks.js"></script>
{% endblock %}

{% block body %}
 
  <div class="container m-0">
    <div class="row">
      <div class="col-8">
        <div>
          <h2>Parks for {{ county }} County</h2>
        </div>
        <div class="row">
          {% for park in parks %}
          <div class="col-6 pb-2">
            <div class="card" style="width: 20rem;">
              <img class="card-img-top" style="height: 200px;" src="{{ park['photo_path'] }}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{ park['park_title'] }}</h5>
                <p class="rating">&#11088;<span style="color: black;">{{ park['avg_score'] }}</span></p>
                <a href="{{ park['website'] }}" class="btn btn-primary btn-background" style="align-content: center;">Park Website</a>
              </div>
            </div>
          </div> 
          {% endfor %}
        </div>
      </div>
      <div class="col-4">
        <div id='map' style='height: 100%;'></div>
      </div>
    </div>
  </div>

  <script >
    const parks = []
    {% for park in parks %} 
      parks.push({
        latitude: {{park['latitude']}},
        longitude: {{park['longitude']}},
        title: "{{park['park_title']}}"
      })
    {% endfor %}
    renderMaps('{{public_key}}', parks)
  </script>

{% endblock %}